* {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: max-content 1fr;

    & > .sidebar {
        background-color: lightskyblue;
        padding: 15px;
        grid-row: 1 / 3;
        /* TEMP */
        /* height: 500px; */
        /* ...TEMP */

        display: grid;
        gap: 50px;

        & > .branding {

            display: grid;
            grid-template-columns: max-content max-content;

        }

        & > .nav {

        }

        & > .nav-top {

            & > ul {
                list-style: none;
                display: grid;
                grid-template-columns: max-content max-content;
            }

        }

        & > .nav-bottom {

                & > ul {
                    list-style: none;
                    display: grid;
                    grid-template-columns: max-content max-content;
                }

        }
    }

    & > .header {
        grid-column: 2;

        display: grid;
        grid-template-columns: 1fr max-content;

        & > .search-bar {

        }

        & > .user-info-top {

            display: grid;
            grid-template-columns: 1fr 1fr max-content;
        }

        & > .user-info-bottom {

            display: grid;
            grid-template-columns: max-content max-content;

            & > img {
                grid-row: span 2;
            }

        & > .buttons {

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            & > button {

            }
        }
        }
    }

    & > .main-content {
        background-color: rgb(240, 240, 240);
        grid-column: 2;
    }

}